@font-face {
    font-family: 'gilmer';
    src: url({{ get_asset_url('../../fonts/gilmer/regular/Gilmer-Regular.eot') }});
    src: url({{ get_asset_url('../../fonts/gilmer/regular/Gilmer-Regular.eot') }}?#iefix) format('embedded-opentype'),
        url({{ get_asset_url('../../fonts/gilmer/regular/Gilmer-Regular.woff2') }}) format('woff2'),
        url({{ get_asset_url('../../fonts/gilmer/regular/Gilmer-Regular.woff') }}) format('woff'),
        url({{ get_asset_url('../../fonts/gilmer/regular/Gilmer-Regular.ttf') }}) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'georgia';
    src: url({{ get_asset_url('../../fonts/georgia/Georgia.eot') }});
    src: url({{ get_asset_url('../../fonts/georgia/Georgia.eot') }}?#iefix) format('embedded-opentype'),
        url({{ get_asset_url('../../fonts/georgia/Georgia.woff2') }}) format('woff2'),
        url({{ get_asset_url('../../fonts/georgia/Georgia.woff') }}) format('woff'),
        url({{ get_asset_url('../../fonts/georgia/Georgia.ttf') }}) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}